  <div class="row">
    <h2 class="heading"> SpaceX Launch Programs</h2>
    <div class="column left">
      <div class="Year">
        <p class="filter">Filters</p>
        <p class="launch">Launch Year</p><hr>
        <button class="yearBtn" *ngFor="let year of Year"(click)="AllFilters(year.year)">{{year.year}}</button>
        <p class="launch">Successful Launch</p><hr>
        <button class="yearBtn" (click)="launchSuccess('true')">True</button>
        <button class="yearBtn"(click)="launchSuccess('false')">False</button>
        <p class="launch">Successful landing</p><hr>
        <button class="yearBtn"(click)="landSuccess('true')">True</button>
        <button class="yearBtn"(click)="landSuccess('false')">False</button>

      </div>

    </div>
    <div class="column right">
      <div class="list" *ngFor="let data of spaceXData">
        <img src="{{data.links.mission_patch_small}}" class="image">
        <p class="missionHeading">{{data.mission_name}} # {{ data.flight_number }}</p>
        <p><span class="remHeading">Mission Ids - </span><span><li *ngFor="let x of data.mission_id">{{x}}</li></span></p>
        <p><span class="remHeading">Launch Year - </span><span>{{data.launch_year}}</span></p>
        <p><span class="remHeading">Successful Launch - </span> <span>{{data.launch_success}}</span></p>
        <p><span class="remHeading"> Successful Landing - </span> <span>{{data.land_success}}</span></p>


      </div>

    </div>
  </div>